<section class="component">
    <h1 class="component__heading">Colors</h1>
    <ul class="component__variants">
        <li class="component__variant"><a href="#brand">Brand</a></li>
        <li class="component__variant"><a href="#functional">Functional</a></li>
    </ul>
    <h2 id="brand" class="component__heading component__heading--sub">Brand</h2>

    <article class="component__sample">
        <ul class="component__example">
            <li class="component__item">
                <div class="color-card color-card--primary">
                    <span class="color-card__hex js-copy" data-value="#001e63">#001e63  &#9901;</span>
                    <span class="color-card__text">Anima sana in corpore sano</span>
                    <span class="color-card__text">Anima sana in corpore sano</span>
                </div>
            </li>
            <li class="component__item">
                <div class="color-card color-card--secondary">
                    <span class="color-card__hex js-copy" data-value="#02c3e6">#02c3e6  &#9901;</span>
                    <span class="color-card__text">Anima sana in corpore sano</span>
                    <span class="color-card__text">Anima sana in corpore sano</span>
                </div>
            </li>
            <li class="component__item">
                <div class="color-card color-card--tertiary">
                    <span class="color-card__hex js-copy" data-value="#D0DF00">#D0DF00  &#9901;</span>
                    <span class="color-card__text">Anima sana in corpore sano</span>
                    <span class="color-card__text">Anima sana in corpore sano</span>
                </div>
            </li>
            <li class="component__item">
                <div class="color-card color-card--tertiary-alt">
                    <span class="color-card__hex js-copy" data-value="#F8485E">#F8485E  &#9901;</span>
                    <span class="color-card__text">Anima sana in corpore sano</span>
                    <span class="color-card__text">Anima sana in corpore sano</span>
                </div>
            </li>
        </ul>
        <input class="js-color-copy" type="hidden" />
    </article>
</section>