<section class="homepage">
	<div class="homepage__content">
		<h1 class="homepage__heading">ASICS Global Component Library</h1>
		<p class="homepage__copy">The purpose of this tool is to provide visibility into existing design patterns and the code that composes them in an effort to promote reusability and consistency across web platforms</p>
		<img class="homepage__img" src="https://miro.medium.com/max/1400/0*UmkY4SahW1rh8GSN" />
	</div>
</section>
