<!DOCTYPE html>
<html>
  <head>
    <title>ASICS Component Library</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.asics.com/on/demandware.static/Sites-asics-eu-Site/-/default/dw99f61fce/images/favicon-asics.png?v=1"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="content">
		<aside class="sidebar">
			<a href="/"><img class="sidebar__logo" src="/images/asics-logo.svg"></a>
	        <nav>
	            <h1 class="sidebar__header">Components</h1>
	            <ul class="sidebar__list">
	                <li><a href="/patterns/colors" class="sidebar__link">Colors</a></li>
	                <li><a href="/patterns/buttons" class="sidebar__link">Buttons</a></li>
	                <li><a href="/patterns/fonts" class="sidebar__link">Fonts</a></li>
	                <li><a href="/patterns/navigation" class="sidebar__link">Navigation</a></li>
	                <li><a href="/patterns/modals" class="sidebar__link">Modals</a></li>
	                <li><a href="/patterns/forms" class="sidebar__link">Form Elements</a></li>
	                <li><a href="/patterns/lists" class="sidebar__link">Lists</a></li>
	            </ul>
	            <select class="js-brand-select" data-selection="{{brand}}">
	            	<option value="as">Performance</option>
	            	<option value="ot">Onitsuka Tiger</option>
	            	<option value="hag">Haglofs</option>
	            </select>
	        </nav>
	    </aside>
	    {{{body}}}
	</div>
    <script src='/javascripts/main.js'></script>
  </body>
</html>
