<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="content">
		<aside class="sidebar">
	        <nav>
	            <h1 class="sidebar__header"><a href="/" class="sidebar__link sidebar__link--header">Components</a></h1>
	            <ul class="sidebar__list">
	                <li><a href="/patterns/colors" class="sidebar__link">Colors</a></li>
	                <li><a href="/patterns/buttons" class="sidebar__link">Buttons</a></li>
	                <li><a href="/patterns/fonts" class="sidebar__link">Fonts</a></li>
	                <li><a href="/patterns/navigation" class="sidebar__link">Navigation</a></li>
	                <li><a href="/patterns/modals" class="sidebar__link">Modals</a></li>
	                <li><a href="/patterns/forms" class="sidebar__link">Form Elements</a></li>
	                <li><a href="/patterns/lists" class="sidebar__link">Lists</a></li>
	            </ul>
	            <select class="js-brand-select" data-selection="{{brand}}">
	            	<option value="as">Performance</option>
	            	<option value="ot">Onitsuka Tiger</option>
	            	<option value="hag">Haglofs</option>
	            </select>
	        </nav>
	    </aside>
	    {{{body}}}
	</div>
    <script src='/javascripts/main.js'></script>
  </body>
</html>
