/**
 * This file is used to show and hude certian components
 * options that are not common scross all brands.
 */
[data-brand="ot"] .button--tertiary-alt,
[data-brand="hag"] .button--tertiary-alt {
  display: none !important; }

.homepage__content {
  font-family: sans-serif;
  flex-grow: 1;
  padding: 40px;
  margin: 50px auto 0 300px;
  color: #001e63;
  text-align: center;
  box-sizing: border-box; }

.homepage__heading {
  margin: 0 auto 40px;
  font-size: 32px; }

.homepage__copy {
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  min-width: 500px; }

.homepage__img {
  display: block;
  width: 40%;
  margin: 30px auto 0; }

.sidebar {
  padding: 40px 0;
  width: 300px;
  height: 100vh;
  position: fixed;
  background: #001e63;
  color: #fff;
  font-family: sans-serif; }
  .sidebar__header {
    font-size: 20px;
    margin: 10px 25px;
    padding: 0 0 10px;
    border-bottom: 1px solid #fff; }
  .sidebar__link {
    margin: 0 25px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    transition: background .2s;
    color: #fff;
    display: block; }
    .sidebar__link:hover:not(.sidebar__link:hover--active), .sidebar__link:hover:not(.sidebar__link:hover--header) {
      background: #002d96; }
    .sidebar__link--active {
      background: #f8485e; }
    .sidebar__link--header {
      margin: 0;
      padding: 0;
      font-size: initial; }

.component {
  font-family: sans-serif;
  flex-grow: 1;
  padding: 40px 20px;
  margin: 0 auto 0 300px; }
  .component__sample {
    margin-bottom: 40px; }
  .component__heading {
    margin: 0;
    font-size: 32px;
    color: #001e63; }
    .component__heading--sub {
      font-size: 24px;
      margin-bottom: 10px; }
  .component__variants {
    width: 100%;
    padding: 20px 0 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #001e63; }
  .component__variant {
    display: inline-block;
    margin-right: 20px; }
    .component__variant a {
      color: #001e63; }
      .component__variant a:hover {
        color: #002d96; }
  .component__item {
    margin: 0 0 20px 0; }
    .component__item--inline {
      display: inline-block;
      margin: 0 10px 0 0; }
  .component__color {
    height: 150px;
    position: relative; }
  .component__hex {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-shadow: 0 0 2px black; }
  .component__text-sample {
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: #fff;
    font-size: 20px; }
    .component__text-sample:nth-child(3) {
      bottom: 50px; }
    .component__text-sample--primary {
      color: #001e63; }
    .component__text-sample--secondary {
      color: #02c3e6; }
  .component__code {
    display: inline-block;
    border: 1px solid #001e63;
    border-left: 10px solid #001e63;
    margin: 20px 0 50px;
    padding: 15px; }

.button {
  padding: 10px 30px;
  min-width: 100px;
  color: #001e63;
  background-color: #02c3e6;
  border: 1px solid;
  border-color: #02c3e6;
  text-align: center;
  transition: background 0.2s, border 0.2s, opacity 0.2s, color 0.2s;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500; }
  .button--square {
    display: inline-block;
    min-width: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    line-height: 3rem;
    font-weight: 900;
    border: 1px solid;
    border-color: #02c3e6; }
  .button:hover:not([disabled]), .button:focus:not([disabled]) {
    color: #001e63;
    background-color: #34cfeb;
    border-color: #34cfeb; }
  .button[disabled] {
    opacity: 0.7;
    cursor: not-allowed; }
  .button--secondary {
    color: #001e63;
    background-color: #e3e5e5;
    border-color: #e3e5e5;
    transition: background 0.2s, opacity 0.2s; }
    .button--secondary:hover:not([disabled]), .button--secondary:focus:not([disabled]) {
      color: #001e63;
      background-color: #f0f1f1;
      border-color: #f0f1f1; }
  .button--tertiary {
    color: #001e63;
    background-color: #d1de01;
    border-color: #d1de01;
    transition: background 0.2s, opacity 0.2s; }
    .button--tertiary:hover:not([disabled]), .button--tertiary:focus:not([disabled]) {
      color: #001e63;
      background-color: #e8ee80;
      border-color: #e8ee80; }
  .button--tertiary-alt {
    color: #fff;
    background-color: #f8485e;
    border-color: #f8485e;
    transition: background 0.2s, opacity 0.2s; }
    .button--tertiary-alt:hover:not([disabled]), .button--tertiary-alt:focus:not([disabled]) {
      color: #fff;
      background-color: #f95d71;
      border-color: #f95d71; }

[data-brand="ot"] .button {
  padding: 10px 30px;
  min-width: 100px;
  color: #fff;
  background-color: #7f0019;
  border: 1px solid;
  border-color: #7f0019;
  text-align: center;
  transition: background 0.2s, border 0.2s, opacity 0.2s, color 0.2s;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500; }
  [data-brand="ot"] .button--square {
    display: inline-block;
    min-width: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    line-height: 3rem;
    font-weight: 900;
    border: 1px solid;
    border-color: #7f0019; }
  [data-brand="ot"] .button:hover:not([disabled]), [data-brand="ot"] .button:focus:not([disabled]) {
    color: #fff;
    background-color: #993347;
    border-color: #993347; }
  [data-brand="ot"] .button[disabled] {
    opacity: 0.7;
    cursor: not-allowed; }
  [data-brand="ot"] .button--secondary {
    color: #fff;
    background-color: #000;
    border-color: #000;
    transition: background 0.2s, opacity 0.2s; }
    [data-brand="ot"] .button--secondary:hover:not([disabled]), [data-brand="ot"] .button--secondary:focus:not([disabled]) {
      color: #fff;
      background-color: #666;
      border-color: #666; }
  [data-brand="ot"] .button--tertiary {
    color: #000;
    background-color: #fff;
    border-color: #000;
    transition: background 0.2s, opacity 0.2s; }
    [data-brand="ot"] .button--tertiary:hover:not([disabled]), [data-brand="ot"] .button--tertiary:focus:not([disabled]) {
      color: #fff;
      background-color: #000;
      border-color: #000; }
  [data-brand="ot"] .button--tertiary-alt {
    color: #fff;
    background-color: #e3e5e5;
    border-color: #e3e5e5;
    transition: background 0.2s, opacity 0.2s; }
    [data-brand="ot"] .button--tertiary-alt:hover:not([disabled]), [data-brand="ot"] .button--tertiary-alt:focus:not([disabled]) {
      color: #fff;
      background-color: #e3e5e5;
      border-color: #e3e5e5; }

[data-brand="hag"] .button {
  padding: 10px 30px;
  min-width: 100px;
  color: #fff;
  background-color: #ff4338;
  border: 1px solid;
  border-color: #ff4338;
  text-align: center;
  transition: background 0.2s, border 0.2s, opacity 0.2s, color 0.2s;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500; }
  [data-brand="hag"] .button--square {
    display: inline-block;
    min-width: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    line-height: 3rem;
    font-weight: 900;
    border-color: #ff4338; }
  [data-brand="hag"] .button:hover:not([disabled]), [data-brand="hag"] .button:focus:not([disabled]) {
    color: #fff;
    background-color: #e10c00;
    border-color: #e10c00; }
  [data-brand="hag"] .button[disabled] {
    opacity: 0.7;
    cursor: not-allowed; }
  [data-brand="hag"] .button--secondary {
    color: #041e41;
    background-color: #e3e5e5;
    border-color: #e3e5e5;
    transition: background 0.2s, opacity 0.2s; }
    [data-brand="hag"] .button--secondary:hover:not([disabled]), [data-brand="hag"] .button--secondary:focus:not([disabled]) {
      color: #041e41;
      background-color: #f7f7f7;
      border-color: #f7f7f7; }
  [data-brand="hag"] .button--tertiary {
    color: #fff;
    background-color: #041e41;
    border-color: #041e41;
    transition: background 0.2s, opacity 0.2s; }
    [data-brand="hag"] .button--tertiary:hover:not([disabled]), [data-brand="hag"] .button--tertiary:focus:not([disabled]) {
      color: #fff;
      background-color: #003a70;
      border-color: #003a70; }
  [data-brand="hag"] .button--tertiary-alt {
    color: #fff;
    background-color: #e3e5e5;
    border-color: #e3e5e5;
    transition: background 0.2s, opacity 0.2s; }
    [data-brand="hag"] .button--tertiary-alt:hover:not([disabled]), [data-brand="hag"] .button--tertiary-alt:focus:not([disabled]) {
      color: #fff;
      background-color: #e3e5e5;
      border-color: #e3e5e5; }

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.content {
  display: flex;
  height: 100vh; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  font-family: sans-serif;
  text-decoration: none; }

select {
  margin: 20px 35px;
  font-size: 18px; }

img {
  width: 100%; }

/*# sourceMappingURL=style.css.map */