@import 'variables'
@import 'reset'
@import 'sidebar'
@import 'component'
@import 'buttons'

body
	margin: 0
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.content
    display: flex
    flex-wrap: wrap
    height: 100vh

ul
    list-style: none
    margin: 0
    padding: 0

a
    font-family: sans-serif
    text-decoration: none