/**
 * This file is used to show and hude certian components
 * options that are not common scross all brands.
 */
[data-brand="ot"] .button--tertiary-alt {
  display: none; }

.sidebar {
  padding: 40px 0;
  flex-basis: 300px;
  background: #001e63;
  color: #fff;
  font-family: sans-serif; }
  .sidebar__header {
    font-size: 20px;
    margin: 10px 25px;
    padding: 0 0 10px;
    border-bottom: 1px solid #fff; }
  .sidebar__link {
    margin: 0 25px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    transition: background .2s;
    color: #fff;
    display: block; }
    .sidebar__link:hover:not(.sidebar__link:hover--active), .sidebar__link:hover:not(.sidebar__link:hover--header) {
      background: #002d96; }
    .sidebar__link--active {
      background: #f8485e; }
    .sidebar__link--header {
      margin: 0;
      padding: 0;
      font-size: initial; }

.component {
  font-family: sans-serif;
  flex-grow: 1;
  padding: 40px 20px; }
  .component__sample {
    margin-bottom: 40px; }
  .component__heading {
    margin: 0;
    font-size: 32px;
    color: #001e63; }
    .component__heading--sub {
      font-size: 24px;
      margin-bottom: 10px; }
  .component__variants {
    width: 100%;
    padding: 20px 0 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #001e63; }
  .component__variant {
    display: inline-block;
    margin-right: 20px; }
    .component__variant a {
      color: #001e63; }
      .component__variant a:hover {
        color: #002d96; }
  .component__item {
    margin: 0 0 20px 0; }
    .component__item--inline {
      display: inline-block;
      margin: 0 10px 0 0; }
  .component__color {
    height: 150px;
    position: relative; }
  .component__hex {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-shadow: 0 0 2px black; }
  .component__text-sample {
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: #fff;
    font-size: 20px; }
    .component__text-sample:nth-child(3) {
      bottom: 50px; }
    .component__text-sample--primary {
      color: #001e63; }
    .component__text-sample--secondary {
      color: #02c3e6; }
  .component__code {
    display: inline-block;
    border: 1px solid #001e63;
    border-left: 10px solid #001e63;
    margin: 20px 0 50px;
    padding: 15px; }

.button {
  padding: 10px 30px;
  min-width: 100px;
  color: var(--btn-color);
  border: 1px solid;
  background-color: var(--btn-bg);
  border-color: var(--btn-border-color);
  text-align: center;
  transition: background 0.2s, border 0.2s, opacity 0.2s;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500; }
  .button--square {
    display: inline-block;
    min-width: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    line-height: 3rem;
    font-weight: 900;
    border-color: var(--btn-border-color); }
  .button:hover:not([disabled]), .button:focus:not([disabled]) {
    color: var(--btn-hover-color);
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color); }
  .button[disabled] {
    opacity: 0.7;
    cursor: not-allowed; }
  .button--secondary {
    color: var(--btn2-color);
    background-color: var(--btn2-bg);
    border-color: var(--btn2-border-color);
    transition: background 0.2s, opacity 0.2s; }
    .button--secondary:hover:not([disabled]), .button--secondary:focus:not([disabled]) {
      color: var(--btn2-hover-color);
      background-color: var(--btn2-hover-bg);
      border-color: var(--btn2-hover-border-color); }
  .button--tertiary {
    color: var(--btn3-color);
    background-color: var(--btn3-bg);
    border-color: var(--btn3-border-color);
    transition: background 0.2s, opacity 0.2s; }
    .button--tertiary:hover:not([disabled]), .button--tertiary:focus:not([disabled]) {
      color: var(--btn3-hover-color);
      background-color: var(--btn3-hover-bg);
      border-color: var(--btn3-hover-border-color); }
  .button--tertiary-alt {
    color: var(--btn3-alt-color);
    background-color: var(--btn3-alt-bg);
    border-color: var(--btn3-alt-border-color);
    transition: background 0.2s, opacity 0.2s; }
    .button--tertiary-alt:hover:not([disabled]), .button--tertiary-alt:focus:not([disabled]) {
      color: var(--btn3-alt-hover-color);
      background-color: var(--btn3-alt-hover-bg);
      border-color: var(--btn3-alt-hover-border-color); }

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.content {
  display: flex;
  flex-wrap: wrap;
  height: 100vh; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  font-family: sans-serif;
  text-decoration: none; }

select {
  margin: 0 35px;
  font-size: 18px; }

html:root {
  --btn-color: #001e63;
  --btn-bg: #02c3e6;
  --btn-border-color: #02c3e6;
  --btn-hover-color: #001e63;
  --btn-hover-bg: #34cfeb;
  --btn-hover-border-color: #34cfeb;
  --btn2-color: #001e63;
  --btn2-bg: #e3e5e5;
  --btn2-border-color: #e3e5e5;
  --btn2-hover-color: #001e63;
  --btn2-hover-bg: #efefef;
  --btn2-hover-border-color: #efefef;
  --btn3-color: #001e63;
  --btn3-bg: #d1de01;
  --btn3-border-color: #d1de01;
  --btn3-hover-color: #001e63;
  --btn3-hover-bg: #e8ee80;
  --btn3-hover-border-color: #e8ee80;
  --btn3-alt-color: #fff;
  --btn3-alt-bg: #f8485e;
  --btn3-alt-border-color: #f8485e;
  --btn3-alt-hover-color: #fff;
  --btn3-alt-hover-bg: #fa6374;
  --btn3-alt-hover-border-color: #fa6374; }
  html:root [data-brand="ot"] {
    --btn-color: #fff;
    --btn-bg: #7f0019;
    --btn-border-color: #7f0019;
    --btn-hover-color: #fff;
    --btn-hover-bg: #993347;
    --btn-hover-border-color: #993347;
    --btn2-color: #fff;
    --btn2-bg: #000;
    --btn2-border-color: #000;
    --btn2-hover-color: #fff;
    --btn2-hover-bg: #666;
    --btn2-hover-border-color: #666;
    --btn3-color: #000;
    --btn3-bg: #fff;
    --btn3-border-color: #000;
    --btn3-hover-color: #666;
    --btn3-hover-bg: #fff;
    --btn3-hover-border-color: #666; }

/*# sourceMappingURL=style.css.map */