<section class="component">
    <h1 class="component__heading">Buttons</h1>

    <ul class="component__variants">
        <li class="component__variant"><a href="#">Standard</a></li>
        <li class="component__variant"><a href="#">Disabled</a></li>
    </ul>
    <h2 class="component__heading component__heading--sub">Standard</h2>
    <article class="component__sample">
        <ul class="component__example">
            <li class="component__item component__item--inline"><button class="button">Primary</button></li>
            <li class="component__item component__item--inline"><button class="button button--secondary">Secondary</button></li>
            <li class="component__item component__item--inline"><button class="button button--tertiary">Tertiary</button></li>
            <li class="component__item component__item--inline"><button class="button button--tertiary-alt">Tertiary Alt</button></li>
        </ul>
        <div class="component__code">
            <pre style="color:#000000;background:#ffffff;"><span style="color:#808030; ">&lt;</span>button class<span style="color:#808030; ">=</span><span style="color:#800000; ">"</span><span style="color:#0000e6; ">button</span><span style="color:#800000; ">"</span><span style="color:#808030; ">&gt;</span>Primary<span style="color:#808030; ">&lt;</span><span style="color:#808030; ">/</span>button<span style="color:#808030; ">&gt;</span>
<span style="color:#808030; ">&lt;</span>button class<span style="color:#808030; ">=</span><span style="color:#800000; ">"</span><span style="color:#0000e6; ">button button--secondary</span><span style="color:#800000; ">"</span><span style="color:#808030; ">&gt;</span>Secondary<span style="color:#808030; ">&lt;</span><span style="color:#808030; ">/</span>button<span style="color:#808030; ">&gt;</span>
<span style="color:#808030; ">&lt;</span>button class<span style="color:#808030; ">=</span><span style="color:#800000; ">"</span><span style="color:#0000e6; ">button button--tertiary</span><span style="color:#800000; ">"</span><span style="color:#808030; ">&gt;</span>Tertiary<span style="color:#808030; ">&lt;</span><span style="color:#808030; ">/</span>button<span style="color:#808030; ">&gt;</span>
</pre>
        </div>
        <ul class="component__example">
            <li class="component__item component__item--inline"><a class="button button--square">&rang;</a></li>
            <li class="component__item component__item--inline"><a class="button button--square button--secondary">&rang;</a></li>
            <li class="component__item component__item--inline"><a class="button button--square button--tertiary">&rang;</a></li>
            <li class="component__item component__item--inline"><a class="button button--square button--tertiary-alt">&rang;</a></li>
        </ul>
        <div class="component__code">
        <pre style="margin: 0; line-height: 125%"><span style="color: #000080; font-weight: bold">&lt;a</span> <span style="color: #FF0000">class=</span><span style="color: #0000FF">&quot;button button--square&quot;</span><span style="color: #000080; font-weight: bold">&gt;</span>&amp;rang;<span style="color: #000080; font-weight: bold">&lt;/a&gt;</span>
<span style="color: #000080; font-weight: bold">&lt;a</span> <span style="color: #FF0000">class=</span><span style="color: #0000FF">&quot;button button--square button--secondary&quot;</span><span style="color: #000080; font-weight: bold">&gt;</span>&amp;rang;<span style="color: #000080; font-weight: bold">&lt;/a&gt;</span>
<span style="color: #000080; font-weight: bold">&lt;a</span> <span style="color: #FF0000">class=</span><span style="color: #0000FF">&quot;button button--square button--tertiary&quot;</span><span style="color: #000080; font-weight: bold">&gt;</span>&amp;rang;<span style="color: #000080; font-weight: bold">&lt;/a&gt;</span>
</pre>

        </div>
    </article>
    <h2 class="component__heading component__heading--sub">Disabled</h2>
    <article class="component__sample">
        <ul class="component__example">
            <li class="component__item component__item--inline"><button disabled class="button">Primary</button></li>
            <li class="component__item component__item--inline"><button disabled class="button button--secondary">Secondary</button></li>
            <li class="component__item component__item--inline"><button disabled class="button button--tertiary">Tertiary</button></li>
            <li class="component__item component__item--inline"><button disabled class="button button--tertiary-alt">Tertiary</button></li>
        </ul>
        <div class="component__code">

<pre style="color:#000000;background:#ffffff;"><span style="color:#808030; ">&lt;</span>button disabled class<span style="color:#808030; ">=</span><span style="color:#800000; ">"</span><span style="color:#0000e6; ">button</span><span style="color:#800000; ">"</span><span style="color:#808030; ">&gt;</span>Primary<span style="color:#808030; ">&lt;</span><span style="color:#808030; ">/</span>button<span style="color:#808030; ">&gt;</span>
<span style="color:#808030; ">&lt;</span>button disabled class<span style="color:#808030; ">=</span><span style="color:#800000; ">"</span><span style="color:#0000e6; ">button button--secondary</span><span style="color:#800000; ">"</span><span style="color:#808030; ">&gt;</span>Secondary<span style="color:#808030; ">&lt;</span><span style="color:#808030; ">/</span>button<span style="color:#808030; ">&gt;</span>
<span style="color:#808030; ">&lt;</span>button disabled class<span style="color:#808030; ">=</span><span style="color:#800000; ">"</span><span style="color:#0000e6; ">button button--tertiary</span><span style="color:#800000; ">"</span><span style="color:#808030; ">&gt;</span>Tertiary<span style="color:#808030; ">&lt;</span><span style="color:#808030; ">/</span>button<span style="color:#808030; ">&gt;</span>
</pre>

        </div>
    </article>
    <article class="component__sample">
        <ul class="component__example">
            <li class="component__item component__item--inline"><a disabled class="button button--square">&rang;</a></li>
            <li class="component__item component__item--inline"><a disabled class="button button--square button--secondary">&rang;</a></li>
            <li class="component__item component__item--inline"><a disabled class="button button--square button--tertiary">&rang;</a></li>
            <li class="component__item component__item--inline"><a disabled class="button button--square button--tertiary-alt">&rang;</a></li>
        </ul>
        <div class="component__code">
        <pre style="margin: 0; line-height: 125%"><span style="color: #000080; font-weight: bold">&lt;a</span> <span style="color: #FF0000">disabled class=</span><span style="color: #0000FF">&quot;button button--square&quot;</span><span style="color: #000080; font-weight: bold">&gt;</span>&amp;rang;<span style="color: #000080; font-weight: bold">&lt;/a&gt;</span>
<span style="color: #000080; font-weight: bold">&lt;a</span> <span style="color: #FF0000">disabled class=</span><span style="color: #0000FF">&quot;button button--square button--secondary&quot;</span><span style="color: #000080; font-weight: bold">&gt;</span>&amp;rang;<span style="color: #000080; font-weight: bold">&lt;/a&gt;</span>
<span style="color: #000080; font-weight: bold">&lt;a</span> <span style="color: #FF0000">disabled class=</span><span style="color: #0000FF">&quot;button button--square button--tertiary&quot;</span><span style="color: #000080; font-weight: bold">&gt;</span>&amp;rang;<span style="color: #000080; font-weight: bold">&lt;/a&gt;</span>
</pre>

        </div>
    </article>
</section>